<div [hidden]="isLoading" class="mat-elevation-z0">
  <table mat-table matSort>
    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr *matNoDataRow>
      <td class="py-3 text-center" [attr.colspan]="displayedColumns && displayedColumns.length">Brak wyników</td>
    </tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [hidden]="dataSource.data.length === 0"
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page">
  </mat-paginator>
</div>

@if (isLoading) {
  <app-loader></app-loader>
}
