<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <app-input-text [maxlength]="25" class="col-6" formControlName="name" label="Imię"
                    placeholder="Imię"></app-input-text>
    <app-input-text [maxlength]="25" class="col-6" type="number" formControlName="age" label="Wiek"
                    placeholder="Wiek"></app-input-text>
    <app-input-text [maxlength]="25" class="col-12" type="email" formControlName="email" label="Adres e-mail"
                    placeholder="Adres e-mail"></app-input-text>
  </div>

  <div class="d-flex justify-content-between">
    <button mat-raised-button type="button" routerLink="../">Wstecz</button>
    <button color="primary" mat-raised-button type="submit">Zapisz</button>
  </div>
</form>
